//bits

$box-shadow:  0 1px 6px 0 rgba(34, 35, 38, 0.80);
$border-radius: .25rem;

//colors
$light-gray: #FAF0E6;
$white: #fff;
$black: #000;
$dark: #675A5A;
$dark-blue: #00172F;
$color-one: #D51958;
$color-two: #57454A;
$color-three: #F0CA0B;
$color-four: #171717;

//fonts 
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
$font-one: 'Kanit', sans-serif;

//sizes 
$small: 13px;
$medium-small: 20px;
$medium-large: 25px;
$large: 50px;